Source: crowdsec-openresty-bouncer
Maintainer: Crowdsec Team <debian@crowdsec.net>
Build-Depends: bash, ca-certificates, debhelper, git

Package: crowdsec-openresty-bouncer
Provides: crowdsec-openresty-bouncer
Description: lua-based openresty bouncer for Crowdsec
Architecture: all
Depends: bash, gettext-base, openresty
